extends ../partials/adminHeader
block main
  .all-content-header
    .title-wrapper
      span.title Kullanıcılar
      span.subtitle Bu sayfadan kayıtlı kullanıcıları görebilir ve düzenleyebilirsiniz. Bir kullanıcıyı düzenlemek için üzerine tıklayın.
    .new-user-button
      span +
  .all-content-inner-wrapper
    each user in users
      a.each-user(href="/admin/users/details?id=" + user._id.toString())
        .each-user-profile-wrapper
          img.each-user-profile(src=user.profilePhoto)
        span.each-user-email= user.email
        span.each-user-name= user.name
        span.each-user-school= user.school || user.university
  form.new-form-wrapper(action="/admin/users" method="POST")
    span.form-title Yeni Bir Kullanıcı Ekle
    span.form-subtitle E-Posta Adresi: *
    input.form-input(type="text" placeholder="E-Posta" name="email" required)
    span.form-subtitle Şifre: *
    input.form-input(type="text" placeholder="Şifre" name="password" required)
    span.form-subtitle Ad Soyad: *
    input.form-input(type="text" placeholder="Ad Soyad" name="name" required)
    span.form-subtitle Okul: *
    each school in schools
      .each-school-wrapper
        input.form-input(type="radio" name="school" value=school._id.toString() required)
        span= school.name
    .buttons-wrapper
      .back-button Geri
      button.form-button Oluştur
