extends ./head
block content
  .all-wrapper
    .all-header
      .all-header-left-side
        a.all-header-logo-wrapper(href="/")
          img.all-header-logo(src="/res/images/logo.png" alt="stumarkt logo")
        form.search-bar-wrapper
          input.search-bar-input(type="text" placeholder="Ara" autocomplete="off")
          button.search-bar-button
            span #{__('Suche')}
      .all-header-right-side
        a.header-messages-wrapper(href="/sell/new")
          img.messages-icon-image(src="/res/images/messagesIcon.png")
          .header-messages-explanation
            span #{__('Anzeige')}
            span #{__('aufgeben')}
        .header-login-wrapper
          if user
            .user-name-wrapper
              span.user-name-title #{__('Willkommen')}
              span.user-name= user.name.split(" ")[0]
            .user-profile-icon-wrapper
              img.user-profile-icon(src=user.profilePhoto)
            //- .not-read-message-icon-wrapper
            //-   if user.notReadMessage > 0
            //-     .not-read-message-icon-general
          else
            .login-link-wrapper
              a.login-link(href="/auth/login") #{__('Einloggen')}
              span #{__('oder')}
              a.register-link(href="/auth/register") #{__('Registrieren')}
            img.user-login-icon(src="/res/images/userIcon.png")
          .user-menu
            a.user-menu-each(href="/sell") #{__('Anzeigen')}
            //- if user && user.notReadMessage > 0
            //-   a.user-menu-each-not-read(href="/messages") #{__('Nachrichten')}
            //- else
            a.user-menu-each(href="/messages") #{__('Nachrichten')}
            a.user-menu-each(href="/edit/user") #{__('Einstellungen')}
            a.user-menu-each-last(href="/auth/logout") #{__('Ausloggen')}
    .all-header-responsive
      .all-header-top
        a.all-header-logo-wrapper(href="/")
          img.all-header-logo(src="/res/images/logo.png")
        .header-login-wrapper
          if user
            .user-name-wrapper
              span.user-name-title #{__('Willkommen')}
              span.user-name= user.name.split(" ")[0]
            .user-profile-icon-wrapper
              img.user-profile-icon(src=user.profilePhoto)
            //- .not-read-message-icon-wrapper
            //-   if user.notReadMessage > 0
            //-     .not-read-message-icon-general
          else
            .login-link-wrapper
              a.login-link(href="/auth/login") #{__('Einloggen')}
              span #{__('oder')}
              a.register-link(href="/auth/register") #{__('Registrieren')}
            img.user-login-icon(src="/res/images/userIcon.png")
          .user-menu
            a.user-menu-each(href="/sell") #{__('Anzeigen')}
            a.user-menu-each(href="/sell/new") #{__('Anzeige Aufgeben')}
            //- if user && user.notReadMessage > 0
            //-   a.user-menu-each-not-read(href="/messages") #{__('Nachrichten')}
            //- else
            a.user-menu-each(href="/messages") #{__('Nachrichten')}
            a.user-menu-each(href="/edit/user") #{__('Einstellungen')}
            a.user-menu-each-last(href="/auth/logout") #{__('Ausloggen')}
      .all-header-bottom
        .responsive-category-open-button
          span #{__('Kategorien')}
        form.search-bar-wrapper
          input.search-bar-input(type="text" placeholder="Ara" autocomplete="off" style="padding-left: 10px")
          button.search-bar-button
            span #{__('Suche')}
    .all-content
      .content-bar-wrapper-responsive
        .close-button-line
          i.fas.fa-times
        a.category-link-responsive(href="/buy/?page=0&category=all&limit=30") #{__('Alle Kategorien')}
        a.category-link-responsive(href="/buy/?page=0&category=book&limit=30") #{__('Bücher')}
        a.category-link-responsive(href="/buy/?page=0&category=stationery&limit=30") #{__('Papierware')}
        a.category-link-responsive(href="/buy/?page=0&category=electronic&limit=30") #{__('Elektronik')}
        a.category-link-responsive(href="/buy/?page=0&category=hobby&limit=30") #{__('Freizeit, Hobby')}
        a.category-link-responsive(href="/buy/?page=0&category=fashion&limit=30") #{__('Mode, Kleidung')}
        a.category-link-responsive(href="/buy/?page=0&category=lesson&limit=30") #{__('Unterricht, Kurse')}
        a.category-link-responsive(href="/buy/?page=0&category=exchange&limit=30") #{__('Zu Verschenken, Tauschen')}
        a.category-link-responsive(href="/buy/?page=0&category=fun&limit=30") #{__('Musik, Filme')}
        a.category-link-responsive(href="/buy/?page=0&category=donation&limit=30") #{__('Spende')}
        a.category-link-responsive(href="/buy/?page=0&category=rented&limit=30") #{__('Mietwohnung, Nachmiete')}
        a.category-link-responsive(href="/buy/?page=0&category=other&limit=30") #{__('Sonstige')}
      .content-bar-wrapper
        .content-bar
          span.category-header #{__('Kategorien')}:
          a.category-link(href="/buy/?page=0&category=all&limit=30") #{__('Alle Kategorien')}
          a.category-link(href="/buy/?page=0&category=book&limit=30") #{__('Bücher')}
          a.category-link(href="/buy/?page=0&category=stationery&limit=30") #{__('Papierware')}
          a.category-link(href="/buy/?page=0&category=electronic&limit=30") #{__('Elektronik')}
          a.category-link(href="/buy/?page=0&category=hobby&limit=30") #{__('Freizeit, Hobby')}
          a.category-link(href="/buy/?page=0&category=fashion&limit=30") #{__('Mode, Kleidung')}
          a.category-link(href="/buy/?page=0&category=lesson&limit=30") #{__('Unterricht, Kurse')}
          a.category-link(href="/buy/?page=0&category=exchange&limit=30") #{__('Zu Verschenken, Tauschen')}
          a.category-link(href="/buy/?page=0&category=fun&limit=30") #{__('Musik, Filme')}
          a.category-link(href="/buy/?page=0&category=donation&limit=30") #{__('Spende')}
          a.category-link(href="/buy/?page=0&category=rented&limit=30") #{__('Mietwohnung, Nachmiete')}
          a.category-link(href="/buy/?page=0&category=other&limit=30") #{__('Sonstige')}
      .main-wrapper
        block main
