extends ./../partials/header
block main
  .messages-left-side
    .messages-header
    .messages-content
      each message in messages
        if message.sendedBy == "buyer"
          .each-message.buyer
            .message-left-side-buyer
              .message-header-buyer
                span.message-time= message.createdAt
                span.message-sender= user.name
              span.message-content= message.content
            .message-right-side
              img.message-sender-profile(src=user.profilePhoto)
        else
          .each-message
            .message-right-side
              img.message-sender-profile(src=owner.profilePhoto)
            .message-left-side
              .message-header
                span.message-sender= owner.name
                span.message-time= message.createdAt
              span.message-content= message.content
    form.message-send-wrapper(action="/messages/buy/?id=" + product._id method="POST")
      input.new-message-input(type="text" name="message" autofocus autocomplete="off" placeholder="Type your message")
      button.send-button
        img.send-button-image(src="/res/images/sendButton.png")
    .reopen-right-side-button
      i.fas.fa-long-arrow-alt-left
  .messages-right-side
    .close-right-side-line
      i.fas.fa-times
    span.right-side-title Seller
    .owner-wrapper
      img.owner-profile(src=owner.profilePhoto)
      span.owner-name= owner.name
    span.right-side-title Product
    .product-wrapper
      .product-image-wrapper
        img.main-product-image(src=product.productPhotoArray[0])
      .product-images-menu
        img.product-menu-image.selected-menu-image(src=product.productPhotoArray[0])
        img.product-menu-image(src=product.productPhotoArray[1])
        img.product-menu-image(src=product.productPhotoArray[2])
        img.product-menu-image(src=product.productPhotoArray[3])
        img.product-menu-image(src=product.productPhotoArray[4])
      span.main-product-created-at Added #{product.createdAt}
      span.main-product-title= product.name
      .main-product-location
          i.fas.fa-map-marker-alt
          span= product.location
      span.main-product-description= product.description
      span.main-product-price= product.price
