extends ./../partials/header
block main
  .product-header
    span.header-title #{__('Nachrichten')}
    span.header-content #{__('Here you may see your messages for the products you buy and sell.')}
  .chose-message-type-wrapper
    .buy-message-button.each-type-button
      span #{__('Meine Einkäufe')}
    .sell-message-button.each-type-button
      span #{__('Meine Verkäufe')}
  if (!buyMessages.length)
    span.no-buy-product-text #{__('Du hast keine Nachricht.')}
  if (!sellMessages.length)
    span.no-sell-product-text #{__('Du kannst hier die Nachrichten für deine Produkte anschauen.')}
  .chose-buy-product-wrapper
    each message in buyMessages
      a.each-product(href="/messages/buy/?id=" + message.product)
        if (message.messages.filter(message => {return message.sendedBy == "owner" && message.read == false}).length > 0) 
          .not-read-empty
            .not-read-message-icon
              span= message.messages.filter(message => {return message.sendedBy == "owner" && message.read == false}).length
        else 
          .not-read-empty
        .each-product-image-wrapper
          .each-product-image-inner-wrapper
            img.product-image(src=message.productPhoto)
        span.product-name #{message.productName}
        span.product-owner #{message.ownerName}
  .chose-sell-product-wrapper 
    each message in sellMessages
      a.each-product(href=`/messages/sell?id=${message.product}&user=${message.buyer}`)
        if (message.messages.filter(message => {return message.sendedBy == "owner" && message.read == false}).length > 0) 
          .not-read-empty
            .not-read-message-icon
              span= message.messages.filter(message => {return message.sendedBy == "owner" && message.read == false}).length
        else
          .not-read-empty
        .each-product-image-wrapper
          .each-product-image-inner-wrapper
            img.product-image(src=message.productPhoto)
        span.product-name #{message.productName}
        span.product-buyer #{message.buyerName}
