extends ./../partials/header
block main
  .product-header
    span.header-title #{__('Nachrichten')}
    span.header-content #{__('Here you may see your messages for the products you buy and sell.')}
  .chose-message-type-wrapper
    .buy-message-button.each-type-button
      span #{__('Meine Einkäufe')}
    .sell-message-button.each-type-button
      span #{__('Meine Verkäufe')}
  if (!buyProducts.length)
    span.no-buy-product-text Du hast keine Nachricht.
  if (!sellProducts.length)
    span.no-sell-product-text Du kannst hier die Nachrichten für deine Produkte anschauen.
  .chose-buy-product-wrapper
    each product in buyProducts
      if product.price == "SOLD"
        .each-product
          .each-product-image-wrapper
            .each-product-image-inner-wrapper
              img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span= product.location
          span.product-price #{__('VERKAUFT')}
      else
        a.each-product(href="/sell/details/?id=" + product._id)
          if (product.notReadMessageNumber > 0) 
            .not-read-empty
              .not-read-message-icon
                span= product.notReadMessageNumber
          else 
            .not-read-empty
          .each-product-image-wrapper
            .each-product-image-inner-wrapper
              img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span= product.location
          span.product-price #{product.price}
  .chose-sell-product-wrapper 
    each product in sellProducts
      if product.price == "SOLD"
        .each-product
          .each-product-image-wrapper
            .each-product-image-inner-wrapper
              img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span= product.location
          span.product-price #{__('VERKAUFT')}
      else
        a.each-product(href="/sell/details/?id=" + product._id)
          if (product.notReadMessageNumber > 0) 
            .not-read-empty
              .not-read-message-icon
                span= product.notReadMessageNumber
          else 
            .not-read-empty
          .each-product-image-wrapper
            .each-product-image-inner-wrapper
              img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span= product.location
          span.product-price #{product.price}
