extends ./../partials/header
block main
  .product-header
    span.header-title #{__('Nachrichten')}
    span.header-content #{__('Here you may see your messages for the products you buy and sell.')}
  .chose-message-type-wrapper
    .buy-message-button.each-type-button
      span #{__('Meine Einkäufe')}
    .sell-message-button.each-type-button
      span #{__('Meine Verkäufe')}
  if (!buyerMessages.length)
    span.no-buy-product-text #{__('Du hast keine Nachricht.')}
  if (!ownerMessages.length)
    span.no-sell-product-text #{__('Du kannst hier die Nachrichten für deine Produkte anschauen.')}
  .chose-buy-product-wrapper
    each chat in buyerMessages
      a.each-product(href="/messages/details?id=" + chat._id)
        if (chat.messages.filter(message => {return message.sendedBy == "owner" && message.read == false}).length > 0) 
          .not-read-empty
            .not-read-message-icon
              span= chat.messages.filter(message => {return message.sendedBy == "owner" && message.read == false}).length
        else 
          .not-read-empty
        .each-product-image-wrapper
          .each-product-image-inner-wrapper
            img.product-image(src=chat.product.productPhotoArray[0])
        span.product-name #{chat.product.name}
        span.product-owner #{chat.owner.name}
  .chose-sell-product-wrapper 
    each chat in ownerMessages
      a.each-product(href=`/messages/details?id=${chat._id}`)
        if (chat.messages.filter(message => {return message.sendedBy == "owner" && message.read == false}).length > 0) 
          .not-read-empty
            .not-read-message-icon
              span= chat.messages.filter(message => {return message.sendedBy == "owner" && message.read == false}).length
        else
          .not-read-empty
        .each-product-image-wrapper
          .each-product-image-inner-wrapper
            img.product-image(src=chat.product.productPhotoArray[0])
        span.product-name #{chat.product.name}
        span.product-buyer #{chat.buyer.name}
