extends ./../partials/header
block main
  input.display-none#chat-object(value=JSON.stringify(chat))
  input.display-none#user-object(value=JSON.stringify(user))
  .messages-left-side
    .messages-content
      each eachMessage in chat.messages
        if eachMessage.sendedBy == user._id.toString()
          .each-message-user
            .message-left-side-user
              .message-header-user
                span.message-time #{eachMessage.time} / #{eachMessage.day}
                span.message-sender= ((chat.buyer._id.toString() == user._id.toString()) ? chat.buyer.name :  chat.owner.name)
              span.message-content-user= eachMessage.content
            .message-right-side
              img.message-sender-profile(src=((chat.buyer._id.toString() == user._id.toString()) ? chat.buyer.profilePhoto :  chat.owner.profilePhoto))
        else
          .each-message
            .message-right-side
              img.message-sender-profile(src=((chat.buyer._id.toString() != user._id.toString()) ? chat.buyer.profilePhoto :  chat.owner.profilePhoto))
            .message-left-side
              .message-header
                span.message-sender= ((chat.buyer._id.toString() != user._id.toString()) ? chat.buyer.name :  chat.owner.name)
                span.message-time #{eachMessage.time} / #{eachMessage.day}
              span.message-content= eachMessage.content
    form.message-send-wrapper
      input.new-message-input(type="text" name="message" autofocus autocomplete="off" placeholder="Type your message")
      button.send-button
        img.send-button-image(src="/res/images/sendButton.png")
    if chat.buyer._id.toString() == user._id.toString()
      .reopen-right-side-button
        i.fas.fa-long-arrow-alt-left
  if chat.buyer._id.toString() == user._id.toString()
    .messages-right-side
      .right-side-inner-wrapper
        .close-right-side-line
          i.fas.fa-times
        span.right-side-title #{__('Seller')}
        .owner-wrapper
          img.owner-profile(src=chat.owner.profilePhoto)
          span.owner-name= chat.owner.name
        span.right-side-title #{__('Product')}
        .product-wrapper
          .product-image-wrapper
            img.main-product-image(src=chat.product.productPhotoArray[0])
          .product-images-menu
            img.product-menu-image.selected-menu-image(src=chat.product.productPhotoArray[0])
            img.product-menu-image(src=chat.product.productPhotoArray[1])
            img.product-menu-image(src=chat.product.productPhotoArray[2])
            img.product-menu-image(src=chat.product.productPhotoArray[3])
            img.product-menu-image(src=chat.product.productPhotoArray[4])
          span.main-product-created-at #{__('Added')} #{chat.product.createdAt}
          span.main-product-title= chat.product.name
          .main-product-location
              i.fas.fa-map-marker-alt
              span #{chat.product.city_name}, #{chat.product.town}
          span.main-product-description= chat.product.description
          span.main-product-price= chat.product.price
