extends ./../partials/header
block main
  input.display-none#product-object(value=JSON.stringify(product))
  input.display-none#user-object(value=JSON.stringify(buyer))
  input.display-none#seller-object(value=JSON.stringify(user))
  .messages-left-side
    .messages-content
      each eachMessage in message.messages
        if eachMessage.sendedBy == "owner"
          .each-message.buyer
            .message-left-side-buyer
              .message-header-buyer
                span.message-time= eachMessage.createdAt
                span.message-sender= user.name
              span.message-content= eachMessage.content
            .message-right-side
              img.message-sender-profile(src=user.profilePhoto)
        else
          .each-message
            .message-right-side
              img.message-sender-profile(src=buyer.profilePhoto)
            .message-left-side
              .message-header
                span.message-sender= buyer.name
                span.message-time= eachMessage.createdAt
              span.message-content= eachMessage.content
    form.message-send-wrapper(action="/messages/sell/?id=" + product._id + "&user=" + buyer._id method="POST")
      input.new-message-input(type="text" name="message" autofocus autocomplete="off" placeholder="Type your message")
      button.send-button
        img.send-button-image(src="/res/images/sendButton.png")
