extends ./../partials/header
block main
  .product-header
    span.header-title #{__('Anzeigen')}
    span.header-content #{__('Hier kannst du deine Anzeigen bearbeiten, wenn du darauf klickst.')}
  .products-wrapper
    each product in products
      a.each-product(href="/sell/details/?id=" + product._id)
        .each-product-image-wrapper
          .each-product-image-inner-wrapper
            img.product-image(src=product.productPhotoArray[0])
        span.product-name #{product.name}
        .product-location
          i.fas.fa-map-marker-alt
          span #{product.city_name}, #{product.town}
        span.product-price #{product.price}
    if products.length <= 0
      .no-product-warning 
        span #{__('Du hast nun keine Anzeige, gib jetzt eine Anzeige auf')}!
        a.no-product-warning-button(href="/sell/new") #{__('Anzeige Aufgeben')}
