extends ./../partials/header
block main
  input.display-none#product-id(value=product._id)
  form.new-product-form(method="POST" action="/edit/product/?id=" + product._id) 
    if product.price == "SOLD"
      span.form-info #{__('Du hast deine Anzeigen als “verkauft” markiert.')}
      a.delete-product-button(href="/sell/details/delete/?id=" + product._id) #{__('Lösch die Anzeige')}
    else
      span.form-title #{__('Anzeige Einstellungen')}
      .form-line
        a.go-to-messages-button(href="/sell/messages/?id=" + product._id) 
          if (messageNumber > 0)
            .not-read-empty
              .not-read-message-icon
                span= messageNumber
          else
            .not-read-empty
          span #{__('Anzeige Nacrichten')}
        a.delete-product-button(href="/sell/details/delete/?id=" + product._id) 
          .not-read-empty
          span #{__('Lösch die Anzeige')}
        a.marked-as-sold-product-button(href="/sell/details/sold/?id=" + product._id)
          span #{__('Markiere das Produkt als Verkauft')}
      span.form-title #{__('Anzeigendetails')}
      input.product-name(type="text" name="name" placeholder="Titel" autocomplete="off" value=product.name)
      textarea.product-description(name="description" placeholder="Beschreibung")= product.description
      span.form-title #{__('Preis')}
      .price-wrapper
        if product.price == "FREE"
          .each-price-line
            input.price-radio-input#custom-price-input(type="radio" name="price" value="0.00€" required)
            input.price-input(type="text" placeholder="Preis €")
          .each-price-line
            input.price-radio-input(type="radio" name="price" value="FREE" required checked)
            span #{__('Zu Verschenken')}
        else
          .each-price-line
            input.price-radio-input#custom-price-input(type="radio" name="price" value=product.price required checked)
            input.price-input(type="text" placeholder="Preis €" value=product.price)
          .each-price-line
            input.price-radio-input(type="radio" name="price" value="FREE" required)
            span #{__('Zu Verschenken')}
      span.form-title #{__('Bilder')}
      .images-outer-wrapper
        .images-wrapper
          input.display-none#file-name-array(type="text" name="productPhotoNameArray")
          each photo in product.productPhotoArray
            if photo != "/res/images/notAvailablePhoto.jpg"
              .each-product-photo
                img(src=photo)
                i.each-product-edit-icon.fas.fa-trash(onclick="return confirm('Are you sure you want to delete this picture?')")
          if product.productPhotoArray.filter(photo => { return photo != "/res/images/notAvailablePhoto.jpg" }).length < 5
            label.add-new-button
              i.fas.fa-plus
              input.display-none#product-image-input(type="file" name="photo" accept="image/*")
      span.form-title #{__('Ort')}
      input.address-input(type="text" name="location" placeholder="Ort" value=product.location required)
      button.form-send-button #{__('Edit')}
