extends ./../partials/header
block main
  .content-all-wrapper
    form.new-product-form(method="POST" action="/sell/new") 
      span.form-title.required-form-part #{__('Kategorie')}
      .category-wrapper
        label.each-category
          input(type="radio" name="category" value="book" required) 
          span #{__('Bücher')}
        label.each-category
          input(type="radio" name="category" value="stationery" required) 
          span #{__('Papierware')}
        label.each-category
          input(type="radio" name="category" value="electronic" required) 
          span #{__('Elektronik')}
        label.each-category
          input(type="radio" name="category" value="hobby" required) 
          span #{__('Freizeit, Hobby')}
        label.each-category
          input(type="radio" name="category" value="fashion" required) 
          span #{__('Mode, Kleidung')}
        label.each-category
          input(type="radio" name="category" value="lesson" required) 
          span #{__('Unterricht, Kurse')}
        label.each-category
          input(type="radio" name="category" value="exchange" required) 
          span #{__('Zu Verschenken, Tauschen')}
        label.each-category
          input(type="radio" name="category" value="fun" required) 
          span #{__('Musik, Filme')}
        label.each-category
          input(type="radio" name="category" value="donation" required) 
          span #{__('Spende')}
        label.each-category
          input(type="radio" name="category" value="rented" required) 
          span #{__('Mietwohnung, Nachmiete')}
        label.each-category
          input(type="radio" name="category" value="other" required) 
          span #{__('Sonstige')}
      span.form-title.required-form-part #{__('Anzeigendetails')}
      input.product-name(type="text" name="name" placeholder="Ürün İsmi" autocomplete="off")
      textarea.product-description(name="description" placeholder="Ürün Detayları" rows="10" )
      span.form-title.required-form-part #{__('Preis')}
      .price-wrapper
        .each-price-line
          input.price-radio-input#custom-price-input(type="radio" name="price" value="0.00" required)
          input.price-input(type="number" placeholder="Fiyat (₺)")
        .each-price-line
          input.price-radio-input(type="radio" name="price" value="ücretsiz" required)
          span #{__('Zu Verschenken')}
      span.form-title.required-form-part #{__('Bilder')}
      input.display-none#file-name-array(type="text" name="productPhotoArray" value="")
      .images-outer-wrapper
        .images-wrapper
          .uploading-image-wrapper
            i.fas.fa-spinner.uploading-icon
          label.add-new-button
            i.fas.fa-plus
            input.display-none#product-image-input(type="file" name="photo" accept="image/*")
      span.form-title.required-form-part #{__('Address')}
      .form-line
        div.address-input-small
          input.address-input(type="text" required name="city" placeholder="Şehir" autocomplete="off")
          span.required-input-span *
        div.address-input-big
          input.address-input(type="text" required name="town" placeholder="İlçe" autocomplete="off")
          span.required-input-span *
      span.form-title.required-form-part #{__('Veröffentliche deine Anzeige')}
      .user-agrement-link
        span #{__('Mit der Registrierung erklärst du dich einverstanden mit unseren')}
        a(href="/auth/agreement/two") #{__('Nutzungsbedingungen')}
        span  #{__('und unserer')}
        a(href="/auth/agreement/one") #{__('Datenschutzerklärung')}
      button.form-send-button #{__('Anzeige aufgeben')}
