extends ./../partials/header
block main
  .content-all-wrapper
    form.new-product-form(method="POST" action="/sell/new") 
      span.form-title.required-form-part #{__('Kategorie')}
      .category-wrapper
        label.each-category
          input(type="radio" name="category" value="rented" required) 
          span Mietwohnung, Nachmiete
        label.each-category
          input(type="radio" name="category" value="hobby" required) 
          span Freizeit, Hobby
        label.each-category
          input(type="radio" name="category" value="home" required) 
          span Möbel, Haus
        label.each-category
          input(type="radio" name="category" value="fashion" required) 
          span Mode, Kleidung
        label.each-category
          input(type="radio" name="category" value="electronic" required) 
          span Elektronik
        label.each-category
          input(type="radio" name="category" value="fun" required) 
          span Musik, Filme, Bücher
        label.each-category
          input(type="radio" name="category" value="tickets" required) 
          span Eintrittskarten, Tickets
        label.each-category
          input(type="radio" name="category" value="exchange" required) 
          span Zu Verschenken, Tauschen
        label.each-category
          input(type="radio" name="category" value="lesson" required) 
          span Unterricht, Kurse
        label.each-category
          input(type="radio" name="category" value="other" required) 
          span Sonstige
      span.form-title.required-form-part #{__('Anzeigendetails')}
      input.product-name(type="text" name="name" placeholder="Titel" autocomplete="off")
      textarea.product-description(name="description" placeholder="Beschreibung")
      span.form-title.required-form-part #{__('Preis')}
      .price-wrapper
        .each-price-line
          input.price-radio-input#custom-price-input(type="radio" name="price" value="0.00" required)
          input.price-input(type="number" placeholder="Preis €")
        .each-price-line
          input.price-radio-input(type="radio" name="price" value="FREE" required)
          span #{__('Zu Verschenken')}
      span.form-title.required-form-part #{__('Bilder')}
      .images-outer-wrapper
        .images-wrapper
          input.display-none#file-name-array(type="text" name="productPhotoNameArray" value="" required)
          label.add-new-button
            i.fas.fa-plus
            input.display-none#product-image-input(type="file" name="photo" accept="image/*")
      span.form-title #{__('Ort')}
      .form-line
        div.address-input-small
          input.address-input(type="text" required name="address1" placeholder="PLZ" autocomplete="off")
          span.required-input-span *
        div.address-input-big
          input.address-input(type="text" required name="address2" placeholder="Ort" autocomplete="off")
          span.required-input-span *
      input.address-input(type="text" name="address3" placeholder="Straße/Nummer (freiwillige Eingabe)" autocomplete="off")
      span.form-title.required-form-part #{__('Veröffentliche deine Anzeige')}
      .user-agrement-link
        span #{__('Mit der Registrierung erklärst du dich einverstanden mit unseren')}
        a(href="/auth/agreement/two") #{__('Nutzungsbedingungen')}
        span  #{__('und unserer')}
        a(href="/auth/agreement/one") #{__('Datenschutzerklärung')}
      button.form-send-button #{__('Anzeige aufgeben')}
