extends ./../partials/header
block main
  .product-header
    .root-info
      if keywords
        span #{number} Produkte in dieser Kategorie verfügbar (#{category}) with the keywords "#{keywords}". #{limit} Anzeigen pro Seite
      else
        span #{number} Produkte in dieser Kategorie verfügbar (#{category}). #{limit} Anzeigen pro Seite
    .change-page-wrapper 
      if keywords
        if page > 0
          a.fas.fa-angle-left(href=`/buy/?category=${category}&page=${page-1}&keywords=${keywords}&limit=${limit}`)
        else
          i.fas.fa-angle-left
        - for (let i = 0; i < number; i += limit) {
          a.each-page-link(href=`/buy/?category=${category}&page=${i}&keywords=${keywords}&limit=${limit}`)= i+1
        - }
        if (page * limit) < number
          a.fas.fa-angle-right(href=`/buy/?category=${category}&page=${page+1}&keywords=${keywords}&limit=${limit}`)
        else
          i.fas.fa-angle-right
      else
        if page > 0
          a.fas.fa-angle-left(href=`/buy/?category=${category}&page=${page-1}&limit=${limit}`)
        else
          i.fas.fa-angle-left
        - for (let i = 0; i < number; i += limit) {
          a(.each-page-linkhref=`/buy/?category=${category}&page=${i}&limit=${limit}`)= i+1
        - }
        if (page * limit) < number
          a.fas.fa-angle-right(href=`/buy/?category=${category}&page=${page+1}&limit=${limit}`)
        else
          i.fas.fa-angle-right
  .products-wrapper
    each product in products
      if product.price == "SOLD"
        .each-product(href="/sell/details/?id=" + product._id)
          img.product-image(src=product.productPhotoArray[0].source)
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span= product.location
          span.product-price VERKAUFT
      else if user && product.owner == user._id.toString()
        a.each-product(href="/sell/details/?id=" + product._id)
          img.product-image(src=product.productPhotoArray[0].source)
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span= product.location
          span.product-price #{product.price}
      else if (user && product.messages.filter(message => { if (message.senderId == user._id) return message; }).length > 0)
        a.each-product(href="/buy/messages/?id=" + product._id)
          img.product-image(src=product.productPhotoArray[0].source)
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span= product.location
          span.product-price #{product.price}
      else 
        a.each-product(href="/buy/details/?id=" + product._id)
          img.product-image(src=product.productPhotoArray[0].source)
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span= product.location
          span.product-price #{product.price}
