extends ./../partials/header
block main
  .product-header
    .root-info
      if keywords
        span #{__('%s Produkte in dieser Kategorie verfügbar (%s) mit dem Stichwort "%s". %s Anzeigen pro Seite', number, category, keywords, limit)}
      else
        span #{__('%s Produkte in dieser Kategorie verfügbar. %s Anzeigen pro Seite', number, category, limit)}
    .change-page-wrapper 
      if keywords
        if page > 0
          a.fas.fa-angle-left(href=`/buy/?category=${realCategory}&page=${page-1}&keywords=${keywords}&limit=${limit}`)
        else
          i.fas.fa-angle-left
        - for (let i = 0; i < number; i += limit) {
          a.each-page-link(href=`/buy/?category=${realCategory}&page=${i}&keywords=${keywords}&limit=${limit}`)= i+1
        - }
        if (page * limit) < number
          a.fas.fa-angle-right(href=`/buy/?category=${realCategory}&page=${page+1}&keywords=${keywords}&limit=${limit}`)
        else
          i.fas.fa-angle-right
      else
        if page > 0
          a.fas.fa-angle-left(href=`/buy/?category=${realCategory}&page=${page-1}&limit=${limit}`)
        else
          i.fas.fa-angle-left
        - for (let i = 0; i < number; i += limit) {
          a(.each-page-linkhref=`/buy/?category=${realCategory}&page=${i}&limit=${limit}`)= i+1
        - }
        if (page * limit) < number
          a.fas.fa-angle-right(href=`/buy/?category=${realCategory}&page=${page+1}&limit=${limit}`)
        else
          i.fas.fa-angle-right
  .products-wrapper
    each product in products
      if product.price == "SOLD"
        .each-product(href="/sell/details/?id=" + product._id)
          .each-product-image-wrapper
            .each-product-image-inner-wrapper
              img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span #{product.city_name}, #{product.town}
          span.product-price #{__('VERKAUFT')}
      else if (user && product.owner == user._id.toString())
        a.each-product(href="/sell/details/?id=" + product._id)
          .each-product-image-wrapper
            .each-product-image-inner-wrapper
              img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span #{product.city_name}, #{product.town}
          span.product-price #{product.price}
      else 
        a.each-product(href="/buy/details/?id=" + product._id)
          .each-product-image-wrapper
            .each-product-image-inner-wrapper
              img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          .product-location
            i.fas.fa-map-marker-alt
            span #{product.city_name}, #{product.town}
          span.product-price #{product.price}
