extends ./../partials/header
block main
  .--s_top_wrapper
    form.--s_left_side_wrapper(method="post" action="/edit/product/photo/?index=0&id=" + product._id enctype="multipart/form-data")
      label
        img.--s_product_image(src=product.productPhotoArray[0].source)
        span.--s_image_change_span Click to change the image
        input.--g_display_none(type="file" accept="image/*" name="picture")
    form.--s_right_side_wrapper(method="post" action="/edit/product/?id=" + product._id)
      span.--s_product_title Product Name:
      input.--s_product_input(type="text" value=product.name autofocus autocomplete="off" name="name" spellcheck="false")
      span.--s_product_title Product Price:
      input.--s_product_input(type="text" value=product.price autocomplete="off" name="price" spellcheck="false")
      span.--s_product_title Product Description:
      input.--s_product_input(type="text" value=product.description autocomplete="off" name="description" spellcheck="false")
      span.--s_product_title Keywords:
      input.--s_product_input(type="text" value=product.keywords.join(" ") autocomplete="off" name="keywords" spellcheck="false")
      button.--g_form_button Update
    .--s_form_explanation
      span You can edit the information you want to change from this page.
      span To add or change an image, first select the image from the bottom menu and then click on it to choose a new one. You may have at most 5 pictures per a product.
      span If you don't receive any messages for your product then changing your keywords can be a smart strategy. 
      span If you have any problems, feel free to contact with us! 
  .--s_bottom_wrapper
    .--s_image_menu_header
      span Product Photo 1
      span Product Photo 2
      span Product Photo 3
      span Product Photo 4
      span Product Photo 5
    .--s_image_menu_content
      img.--s_product_image_change.--s_selected_photo(src=product.productPhotoArray[0].source id="index_0")
      img.--s_product_image_change(src=product.productPhotoArray[1].source id="index_1")
      img.--s_product_image_change(src=product.productPhotoArray[2].source id="index_2")
      img.--s_product_image_change(src=product.productPhotoArray[3].source id="index_3")
      img.--s_product_image_change(src=product.productPhotoArray[4].source id="index_4")
